body {
  text-align: center;
  background-color: black;
}

.dews-modal-container {
  display: none;
}

.main-dews-container {
  text-align: left;
  margin: 40px 25px;
}

.dew-display {
  color: white;
  border: solid;
  padding: 5px;
}

.dews-modal-container.show {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.edit-dews-modal-container {
  display: none;
}

.edit-dews-modal-container.show {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.dews-modal {
  width: 20rem;
  height: 35rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  gap: 0.5rem;
}


/* Buttons-----------------------------------*/

.new-dews-button {
  position: absolute;
  left: 30px;
  background-color: #09703C;
  color: white;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  width: 140px;
  height: 40px;
}

.new-dews-button:hover {
  transition: 0.5s;
  background-color: #94C73E;
}

.edit-dew-button {
  background-color: #09703C;
  color: white;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  width: 140px;
  height: 40px;
}

.edit-dew-button:hover {
  transition: 0.5s;
  background-color: #94C73E;
}

.delete-dew-button {
  position: relative;
  right: 35px;
  background-color: #E92531;
  color: white;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  width: 140px;
  height: 40px;
}

.delete-dew-button:hover {
  transition: 0.5s;
  background-color: hsl(356, 54%, 75%);
}

