.todos-modal-container {
  display: none;
}

.show {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.todos-modal {
  width: 20rem;
  height: 35rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  gap: 0.5rem;
}