*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.todos-modal-container {
  display: none;
}

.show {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.todos-modal {
  width: 20rem;
  height: 35rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  gap: 0.5rem;
}
.top-nav{
  background-color: #94c73e ;
  height: 70px;
}
.container{
  max-width: 2000px;
  padding: 0;
  margin: 0 40px;
  justify-content: center;
  overflow: auto;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.logo img{
 width: 7rem;
}
body{
  background-color: #545454;
}
.new-todos-button{
  cursor: pointer;
  position: relative;
  font-size: larger;
  font-weight: bold;
  padding: 3px 6px;
  color: #e92531;
  border: 5px solid #09703c;
}
.new-todos-button::before{
  content: "";
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 5px solid #94c73e;
}